*~
*.obj
*.exp
*.lib
ref/
__pycache__
temp.exe
todos.md
Thumbs.db
releases
correlator/gog.json
correlator/steam.json
correlator/pcg.json
AMB Editor/references
AMB Editor/package-lock.json
**/.claude/settings.local.json
